<form [formGroup]="ticketForm" class="container mt-4" (ngSubmit)="saveTicket()">
  <div class="mb-3">
    <label for="Description" class="form-label">Description:</label>
    <textarea id="Description" formControlName="description" required class="form-control" rows="7"></textarea>
    <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="text-danger">
      <div *ngIf="description?.errors?.['required']">Description is required.</div>
      <div *ngIf="description?.errors?.['minlength']">Description must be at least 10 characters long.</div>
    </div>
  </div>
  <div class="form-check mb-3">
    <label for="isOpened" class="form-check-label fw-bold">Closed</label>
    <input type="checkbox" id="isOpened" formControlName="isOpened" class="form-check-input">
  </div>
  <div>
    <button type="submit" class="btn btn-primary me-2" [disabled]="ticketForm.invalid">Save</button>
    <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
  </div>
</form>
